.first-hero-demo,
.second-hero-demo {
  min-height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 5%;
  gap: 50px;
  .hero-demo-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &-float {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      img {
        width: 80vw;
      }
    }
    &-display {
      z-index: 20;
      img {
        width: 80vw;
        max-width: 500px;
      }
    }
  }

  .hero-demo-content {
    text-align: center;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    p {
      font-size: 20px;
      color: #646464;
    }
    p:nth-child(1) {
      font-weight: bold;
      font-size: 30px;
      color: #012e43;
    }
    button {
      width: 200px;
      height: 40px;
      border: none;
      border-radius: 10px;
      background: #012e43;

      a {
        font-family: "Lato", sans-serif;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 800px) {
  .first-hero-demo,
  .second-hero-demo {
    min-height: 550px;
    padding: 0px 5%;
    flex-direction: row;
    padding-top: 50px;
    justify-content: center;
    align-items: center;

    .hero-demo-img {
      &-float {
        img {
          width: 40vw;
        }
      }
      &-display {
        img {
          width: 40vw;
        }
      }
    }
    .hero-demo-content {
      align-items: flex-start;
      text-align: start;

      z-index: 10;
      max-width: 500px;
      p {
        font-size: 20px;
        color: #646464;
      }
    }
  }
  .second-hero-demo {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1000px) {
  .first-hero-demo,
  .second-hero-demo {
    justify-content: center;
    align-items: center;
    min-height: 650px;

    .hero-demo-img {
      &-float {
        img {
          width: 50vw;
          max-width: 800px;
        }
      }
      &-display {
        img {
          width: 50vw;
          max-width: 600px;
        }
      }
    }
    .hero-demo-content {
      align-items: flex-start;
      text-align: start;

      z-index: 10;
      max-width: 500px;
      p {
        font-size: 25px;
        color: #646464;
      }
      p:nth-child(1) {
        font-weight: bold;
        font-size: 40px;
        color: #012e43;
      }
    }
  }
}
